<div id="container" class="mt10 fix">

		<div class="crumb fix"><a href="/">首页</a><span>&gt;</span><span>资讯列表</span></div>

		

			<div class="newslist">

				<div class="prListTop">&nbsp;</div>

				<div class="prList fix">

					<ul class="fix">

					<li>新闻标题<span class="author">作者</span><span class="time">发表时间</span></li>

						

											<li><a target="_blank" href="/"> 陈奕迅全新国语专辑《？》</a><span class="author">admin</span><span class="time">2011-08-11 17:15:27</span></li>

						

											<li><a target="_blank" href="/products">郝云受邀参加世界音乐周2011中日国际音乐研讨会</a><span class="author">admin</span><span class="time">2011-05-11 15:34:51</span></li>

						
						<li><a target="_blank" href="/products">苏打绿《你在烦恼什么》抚慰人心 馨仪拍MV拍到哭</a><span class="author">admin</span><span class="time">2011-05-11 15:34:51</span></li>


										</ul>

					<div class="page"><span>当前页1/1</span><a href="/">首页</a><span>上一页</span><span>下一页</span><a href="/about">最后页</a> <select onchange=""><option selected='selected' value='1'>第1页</option>
</select></div>

				</div>

				<div class="prListBottom">&nbsp;</div>

			</div>

		

	</div>

