<div id="container" class="mt10 fix">
	<div class="prListTop">
		&nbsp;
	</div>
	<div class="prList fix">
		<div class="title">
			<span>新作浏览</span><a href="#" class="more"> <%= image_tag 'more.gif' %> </a>
		</div>
		<%= render 'shared/products', :products => @products %>
	</div>
	<div class="prListBottom">
		&nbsp;
	</div>
</div>