.clear {clear:both;}

.zor-main{
	border:solid 1px #999;
	padding: 18px;
	color:white;
	h1{
		font-size: 3em;
		font-weight:bold;
		margin: 6px;
	}
}
#product-images{
	width:300px;
	float:left;
}
#product-description{
	float: left;
	width: 300px;
	font-size: 1.2em;
	line-height: 1.6;
}
#main-image{
	width: 242px;
	height: 242px;
	border: solid 1px #333;
	margin-top:12px;
	text-align: center;
	img {margin:1px auto;}
}
#thumbnails{
	width: 260px;
}
.thumbnails{
	li{
		width:50px;
		height:50px;
		background-color:#333;
		float:left;
	}
      
}
.prList{
	li{
		margin: 8px 2px 0 0;
		padding: 10 10 10px 10px;
		line-height: 3px;
		color: white;
		overflow: hidden;
	}
      
}

#products{
	padding:10 10 10px 10px;
	li{
		width: 123px;
		height: 158px;
		float: left;

		.title {
			font: 14px/1.6em "宋体";
		}
		.title a:link, .title a:visited{
			
			color: white;
		}
		.pic {

			margin-bottom: 10px;
			width: 123px;
			height: 158px;
			background-color: #333;
			text-align:center;
			padding:10 10 10px 10px;

		}


	}
}


#products .pic img {
	width:123px;
	height:158px;
}

