<div id="container" class="mt10 fix">
	<div class="crumb fix">
		<a href="http://www.7usky.com/">首页</a><span>&gt;</span><span>公司介绍</span>
	</div>
	<div class="main">
		<div class="gamelist">
			<div class="prListTop">
				&nbsp;
			</div>
			<div class="prList fix">
				<div class="detail fix">
					<h1 class="news_title">公司介绍</h1>
					<div class="news_content" style='height:160px;'>
						<p id='introduce'>
							<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 深圳市雅卓科技有限公司成立于2010年，是面向手机用户移动互联网服务提供及运营商。雅卓科技拥有业内顶尖的手机客户端研发实力，治理于为手机用户提供最人性化得服务，为优化用户的移动互联网体验不断创新，推崇便捷时尚的手机网络生活方式。雅卓科技在通讯市场和无线增值业务上有着独特优势，同时在提升手机终端的应用及娱乐性，完善手机的多功能应用领域具有专业水平。拥有大量文字、图片、音乐、动画、视频资源。    雅卓科技拥有强大的技术支持、产品研发和市场推广团队，现有员工50余人。有MTK、塞班等平台研发人员15人，大部分研发人员来自于品牌手机厂商、手机方案公司、第三方应用软件开发公司。 </strong>
						</p>
						<p id='contact' style='display:none'>
						<strong> 地址：深圳市福田区深南路车公庙工业去（泰然）车公庙工业区203栋3层303</br>
						邮编：518040</br>
						电话：0755-82719662</br>
						传真：0755-82719662</br>
						公司网站：www. </strong>
						</p>

						<div>
							<div>
								<strong>&nbsp;</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="prListBottom">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="aside">
		<div class="asideTop">
			&nbsp;
		</div>
		<div class="asideMiddle">
			<ul>
				<li>
					<a href="javascript:show_info()">公司介绍</a>
				</li>
				<li>
					<a href="javascript:show_contact()">联系方式</a>
				</li>
			</ul>
		</div>
		<div class="asideBottom">
			&nbsp;
		</div>
	</div>
</div>
