<div id="container" class="mt10 fix">
	<div class="crumb fix">
		<a href="/">首页</a><span>&gt;</span>招贤纳士
	</div>
	<div class="main">
		<div class="gamelist">
			<div class="prListTop">
				&nbsp;
			</div>
			<div class="prList fix">
				<div class="detail fix">
					<h1 class="news_title">招贤纳士</h1>
					<div class="news_content">
						<p>
							<strong>如果您认为您符合我们的招聘条件，并对游戏行业充满热情，请将您的简历与相关作品发给我们: lj@yazotech.com</strong>
						</p>
					</div>
					<div class="news_content">
						<p id="donghua" >
							<strong>动画后期音效师</strong>
							<br />
							要求：
							<br />
							1．全职工作。
							<br />
							2．应届，往届毕业生均可。学历不限。
							<br />
							3．电脑音乐制作专业或动画制作专业以及有相关工作经验者优先。
							<br />
							4．能熟练运用音频后期处理软件及常用音频制作软件。
							<br />
							5．熟悉midi制作硬件设备。
							<br />
							6．对声音及音乐有一定自我理解，具备独立编曲能力。
							<br />
							<br />
							工作内容：
							<br />
							1． 动画后期音效处理。
							<br />
							2． 配音录制。
							<br />
							3． 动画音乐制作。
							<br />
							4． 游戏音乐音效制作。
							<br />
							5. 原创音乐制作。
							<br />
						</p>
						<p style="display:none;" id="dongman" >
							<strong>手机动漫软件产品经理 </strong>
							<br />
							具体要求
							<br />
							1、一年以上工作经验；
							<br />
							2、富有创新能力，思维敏捷，不拘一格；
							<br />
							3、能准确把握和挖掘用户需求，一定的产品设计能力；
							<br />
							4、工作热情、细致、有责任心，执行能力很强；
							<br />
							5、具有良好的沟通能力与团队合作能力；
							<br />
							6、无线互联网、手机客户端等相关行业经验优先
							<br />
						</p>
						<p style="display:none;" id="shangwu" >
							<strong>	商务经理	</strong> <br/>
								女性，学历大专以上，英语良好，两年以上相关工作经验<br />
								任职要求：<br />
								1.SP,CP或移动联网从业经验；<br />
								2.良好的商务公关能力、表达沟通能力，思维敏捷，形象气质佳。<br />
								岗位职责:<br />
								1.负责运营商以及移动互联网渠道扩展工作，完成即定任务；<br />
								2.负责合作伙伴日常沟通，确保合作顺畅。<br />
						</p>

					<p style="display:none;" id="jishumanager" >
							<strong>	智能机平台技术经理	</strong> <br/>
								岗位职责： <br/>
								从事手机应用软件项目或者平台软件项目开发，并完成开发过程之技术指导与培训，项目技术可行性分析，预研和技术总结累积等. <br/>
								任职要求： <br/>
								1.大学本科以上学历，5年以上工作经验； <br/>
								2.精通C++语言，熟悉常见的设计模式。在Symbian,WindowsMobile,Linux等智能机平台上从事应用开发三年以上。 <br/>
								3.有项目管理经验者优先考虑，有带领超过10人以上团队经验者优先考虑。 <br/>
						</p>
 						
					</div>

				</div>
			</div>
			<div class="prListBottom">
				&nbsp;
			</div>
		</div>
	</div>

<div class="aside">
			<div class="asideTop">&nbsp;</div>
			<div class="asideMiddle">
				<h2>招聘职位</h2>
				<ul>
				<li>
					<a href="javaScript:show_donghua();" >动画后期音效师</a>
				</li>
				<li>
					<a href="javaScript:show_dongman();" >手机动漫软件产品经理</a>
				</li>
				<li>
					<a href="javaScript:show_shangwu();">商务经理</a>
				</li>
				<li>
					<a href="javaScript:show_jishumanager();">智能机平台技术经理</a>
				</li>
									</ul>
			</div>
			<div class="asideBottom">&nbsp;</div>
		</div>
			
</div>