  <div id="container" class="mt10 fix">
    <div class="prListTop">&nbsp;</div>
    <div class="prList fix">
      <div class="title"><span>新作浏览</span><a href="http://www.7usky.com//product_list.php" class="more"><img src="http://www.7usky.com//templets/default/images/more.gif" alt="" /></a></div>
      <%= render 'shared/introduce' %>
    </div>
    <div class="prListBottom">&nbsp;</div>
  </div>